.list {
	&__webdev {
		padding:1rem;
		list-style-type: none;
		border-style: solid;
		border-radius: 20px 0 0 10px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 10px;
		background-color: #fff4c1;
		
		@media (min-width: $screen-sm-min) {
			margin-left: 20%;
			margin-right: 20%;
		  }

	}


	&__blog {
		list-style-type: none;
		padding: 1rem;
		background: lightblue;
		margin-left: 5%;
		margin-right: 5%;
	    background-image: linear-gradient(45deg, white,lightblue);
		
		@media (min-width: $screen-sm-min) {
			margin-left: none;
			margin-right: none;
		  }

		@media (min-width: $screen-md-min) {
	  	 }
	}

}